.Content--home {
	position: relative;
	top: $base-positionRelative;
	z-index: 1000;
	padding: 0;

}

.content-left {
	background: $content-leftBg;
	padding: 20px;

	h2 {
		padding: 0;
		margin: 0;
	}
}

.content-right {
	background: $content-rightBg;
	padding: 20px;
	color: white;

	h2 {
		padding: 0;
		margin: 0;
		font-size: 18px;
	}
}
