// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

//midden header
//------------------------------------------------------------------------------------------------------------- -->

//nav------------------------------------------------------------------------------------------------->
.header-midden{}
.header-midden-nav{
	padding: 0;
}
.Navigation-list{
  margin:0;
}

.Navigation-list--dropdown{
	background:$base-navBg;
}

.Navigation-listItem{
  float: left;
  padding: 3%;
  margin:0;

  	&:first-of-type {
  		padding-left: 0;
  	}

  	a{
  		color: $a-normal;
  		font-weight: bold;
  		text-transform: uppercase;
  	}
}

.Navigation-listItem.is-active{
	background:$a-style;
	a{
	color:$base-navBg;
	}
}

.Navigation-link{
  margin:0 auto;
}

.Bot-Nav {
	background: $base-navBg;
}

.Navigation-listItem:hover{
	opacity: 0.5;
}
.Navigation-listItem--hasDropdown:hover{
	background:lighten($a-style, 10%);
	ul{
		a.Navigation-link{
		color:$a-normal;
		}
	}
	ul:hover{
		a.Navigation-link{
			color:$base-navBg;
		}
	}

}
.Navigation-listItem--hasDropdown.is-active:hover{
	a.Navigation-link{
			color:$base-navBg;
	}
}

.Nav-toggle {
  .Icon.Icon--inline {
   	fill:$base-borderColor1;
  }
}
