// StyleSheet

//schema clean-------------------------------------------------------------------------------------------------------------------------------------------------

//base---------
	
	$base-bgColor:#fff;
	$base-bgImg: url("../img/bg.png");
	$base-primaryBg: #763176; // OOK RIGHT CONTENT COLOR!
	$base-borderColor1: #7A6E6E;
	$base-shadow: 0px 2px 16px #7A6E6E;

	$base-positionRelative: -80px;

	$content-leftBg: #FFF;
	$content-rightBg: #763176;

//font---------
	
	$font-typografie: 'Titillium Web';
	$font-titel-color: #7A6E6E;
	$font-subTitel-color: #fff;
	$font-paragraafTitel-color: #fff;

// a ----------
	$a-normal:#FFF;
	$a-style:#7A6E6E;

//eind clean-------------------------------------------------------------------------------------------------------------------------------------------------





//base -------------------------------------------------------------------------------------------------------------------------------------------------------
h4{
	color: $font-titel-color;
}
body{
	 background-image: $base-bgImg ; 
	 font-family: $font-typografie; 
}
.footer-wrapper{
	background: $base-bgColor;
} 
.header-midden-nav{
	background: $base-primaryBg;
	box-shadow: 0px 2px 16px $base-shadow; 
}

.header-onderkant{
	box-shadow: 0px 2px 16px $base-shadow;
	border-bottom: 2px solid $base-borderColor1;
	background:$base-bgColor;
}
.threecolumns-wrapper{
	background: $base-bgColor;
}
.fullwidth-wrapper{
	background:$base-bgColor;
}
.button{
	background:$base-primaryBg;
	color:$a-normal;
}
.button:hover{
	background:lighten($a-style, 10%);
	color: $base-primaryBg;
}
.footer-wrapper{
	border-top: 2px solid $base-borderColor1;
}
// eind base -------------------------------------------------------------------------------------------------------------------------------------------------

